{% extends "base.html" %}
{%block content%}
    {% if list == "ol" %}
        {% for prof in ["инженер-исследователь", "пилот", "строитель", "экзобиолог", "врач", "инженер по терраформированию",
        "климатолог", "специалист по радиационной защите", "астрогеолог", "гляциолог", "инженер жизнеобеспечения", "метеоролог",
        "оператор марсохода", "киберинженер", "штурман", "пилот дронов"] %}
        <div>{{loop.index}}. {{prof}}</div>
        {% endfor %}
        {% elif list == "ul" %}
            {% for prof in ["инженер-исследователь", "пилот", "строитель", "экзобиолог", "врач", "инженер по терраформированию",
            "климатолог", "специалист по радиационной защите", "астрогеолог", "гляциолог", "инженер жизнеобеспечения",
            "метеоролог", "оператор марсохода", "киберинженер", "штурман", "пилот дронов"] %}
            <li>{{prof}}</li>
            {% endfor %}
    {% else %}
        <div>Неверный параметр</div>
    {% endif %}
{% endblock %}